@import 'reset.css';

.wrapper {
  margin: 2em auto 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 1.5rem;
}
.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.information {
  margin: 1em auto;
  padding: 1em 0;
  width: 100%;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}
.setting-box {
  width: 100%;
}
.initial-sound {
  display: inline-block;
  list-style: none;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.initial-sound:hover {
  background: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
.initial-sound.clicked {
  background: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.textInput,
.textResult {
  margin: 1em auto;
  width: 100%;
  min-width: 10em;
  height: 50vh;
}
.textInput {
  resize: none;
}
.textResult {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1em;
}
.textResult strong {
  font-weight: bold;
  background: yellow;
}
.btn {
  padding: 0.5em;
  width: 10rem;
}
